<h1>Inscription</h1>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
        {{ errorMessage }}
    </div>

    <div class="mb-3">
        <label for="pseudo" class="form-label">Pseudo : </label>
        <input
            id="pseudo"
            type="text"
            class="form-control"
            [ngClass]="pseudo?.errors && (pseudo?.touched || pseudo?.dirty) ? 'is-invalid' : !pseudo?.errors && pseudo?.dirty ? 'is-valid' : ''"
            formControlName="pseudo"
        />
        <div class="valid-feedback">Looks good!</div>
        <div *ngIf="pseudo?.errors?.['required']" class="invalid-feedback">Veuillez saisir votre pseudo</div>
        <div *ngIf="pseudo?.errors?.['minlength']" class="invalid-feedback">3 caractères minimum</div>
        <div *ngIf="pseudo?.errors?.['maxlength']" class="invalid-feedback">15 caractères maximum</div>
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">Email : </label>
        <input
            id="email"
            type="email"
            class="form-control"
            [ngClass]="email?.errors && (email?.touched || email?.dirty) ? 'is-invalid' : !email?.errors && email?.dirty ? 'is-valid' : ''"
            formControlName="email"
        />
        <div class="valid-feedback">Looks good!</div>
        <div *ngIf="email?.errors?.['required']" class="invalid-feedback">Veuillez saisir votre email</div>
        <div *ngIf="email?.errors?.['pattern']" class="invalid-feedback">Email invalide</div>
    </div>

    <div class="mb-3">
        <label for="plainPassword" class="form-label">Mot de passe : </label>
        <input
            id="plainPassword"
            type="password"
            class="form-control"
            [ngClass]="
                plainPassword?.errors && (plainPassword?.touched || plainPassword?.dirty)
                    ? 'is-invalid'
                    : !plainPassword?.errors && plainPassword?.dirty
                    ? 'is-valid'
                    : ''
            "
            formControlName="plainPassword"
        />
        <div class="valid-feedback">Looks good!</div>
        <div *ngIf="plainPassword?.errors?.['required']" class="invalid-feedback">Veuillez saisir votre mot de passe</div>
        <div *ngIf="plainPassword?.errors?.['pattern']" class="invalid-feedback">Minimum 1 majuscule, 1 minuscule, 1 chiffre et 8 caractères</div>
        <div *ngIf="plainPassword?.errors?.['maxlength']" class="invalid-feedback">Maximum 40 caractères</div>
    </div>

    <div class="d-flex justify-content-end align-items-center">
        <div *ngIf="isLoading" class="spinner-border text-light me-3" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <button type="submit" class="btn btn-outline-light" [disabled]="pseudo?.errors || email?.errors || plainPassword?.errors || isLoading">
            S'inscrire
        </button>
    </div>
</form>
